# Maven target directory
/target/

# Maven wrapper files
.mvn/
mvnw
mvnw.cmd

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
*.ipr
*.iws
.idea/

# NetBeans files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code files
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db